.button {
	-fx-border-radius:28px;
  -fx-background-color:linear-gradient(to bottom, #e4685d 100%, #f5aaa6 5%);
  -fx-border-style: solid;
  -fx-border-color: #1b4c85;
  -fx-background-radius:28px
}
.button:hover {
	-fx-background-color:linear-gradient(to bottom, #e4685d 5%, #f5aaa6 100%);
  -fx-border-style: solid;
  -fx-border-color: #1b4c85;

}
.button:pressed {
	-fx-background-color:linear-gradient(to bottom, #e4685d 100%, #f5aaa6 5%);
  -fx-border-style: solid;
  -fx-border-color: #1b4c85;
}
